/*BAKGRUND & LOGO*/

.background-planks3 img{
	position: absolute;
	top:0vw;
	left:0vw;
	z-index: -1;
	width:100vw;
	height:170vw;
	
	
}
.logostor3 img{
	margin:0;
	padding:0;
	position:absolute;
	top:4vw;
	left:25.5vw;
	transform: translate(-50%,-50%);
	height: 6vw;
	width:23vw;
}


/*NAVBAR*/


.navbar{
	margin:0;
	padding:0;
	position:absolute;
	top:11vw;
	left:50vw;
	transform: translate(-50%,-50%);
	height: 4vw;
	width:69vw;
	
	
	
}
.navbar p{
	text-align:center;
	font-family: Palatino;
	font-size: 1.5vw;
	font-weight: 800;
	position:absolute;
	top:0.22vw;
	left:8.5vw;
	transform: translate(-50%,-50%);
	color:white;
	
	
}
.navbar a{
	margin:0;
	padding:0;
	position:absolute;
	top:-2%;
	height: 4vw;
	width:17.25vw;
	border-radius: 1vw;
	text-decoration: none;
	opacity: 0.95;
}
.navbar #hover:hover{
	background-image:none;
	background-color:#646464;
	border:none;
}
.start-Kontakt{
	left:-0.85vw;
	background-image: url(images/navbar.jpg);
	border: 0.15vw solid #646464
}
 .om-stimo-ab-Kontakt {
	left:16.9vw;
	background-color: #6FAFD1;
	background-image: none;
	box-shadow: 0.15vw 0.15vw 0.075vw 0.15vw #727272;
}
.rekrytering-Kontakt {
	left:34.6vw;
	background-image: url(images/navbar.jpg);
	border: 0.15vw solid #646464
	
}




/*NAVBAR(KONTAKT) + UNDERMENY*/


#kontakt-kontakt1{
	margin:0;
	padding:0;
	position:absolute;
	top:-2%;
	height: 4vw;
	width:17.25vw;
	border-radius: 1vw;
	text-decoration: none;
	opacity: 0.95;
	left:52.3vw;
	background-image: url(images/navbar.jpg);
	border: 0.15vw solid #646464;
	z-index:50;
}
#kontakt-kontakt1:hover{
	background-image:none;
	background-color:#646464;
	border: 0.11vw solid black;
	box-shadow: 0.15vw 0.15vw 0.075vw 0.15vw #727272;
}
#kontakt-kontakt1:hover #undermeny{
	display: block;
}
#kontakt-kontakt1:hover #undermenytransparent{
	display: block;
}
#undermeny:hover{
	background-image:none;
	background-color:#646464;
	border:none;
	box-shadow: 0.15vw 0.15vw 0.075vw 0.15vw #727272;
}
.under-meny-kontakt-kontakt-transparent{
	position:fixed;
	height:17vw;
	width: 17vw;
	background-color:transparent;
	transform: translateX(-50%);
	left: 61vw;
	top: 2vw;
	display: none;
	border-radius: 0.5vw;
}
.under-meny-kontakt-kontakt1{
	position:relative;
	height:3vw;
	width: 15vw;
	background-color:#646464;
	transform: translateX(-50%);
	left: 8.8vw;
	top: 4.45vw;
	display: none;
	border-radius: 0.5vw;
	border: 0.11vw solid black;
	box-shadow: 0.10vw 0.0vw 0.075vw 0.1vw #727272;
	
}
.under-meny-kontakt-kontakt1 a{
	color:white;
	left:0vw;
	top: 0.7vw;
	font-size:1.4vw;
	width:15vw;
	height: 4vw;
	text-align:center;

}
.under-meny-kontakt-kontakt2{
	position:relative;
	height:3vw;
	width: 15vw;
	background-color:#646464;
	transform: translateX(-50%);
	left: 8.8vw;
	top: 4.6vw;
	display: none;
	border-radius: 0.5vw;
	border: 0.11vw solid black;
	box-shadow: 0.10vw 0.0vw 0.075vw 0.1vw #727272;
}
.under-meny-kontakt-kontakt2 a{
	color:white;
	left:0vw;
	top: 0.7vw;
	font-size:1.4vw;
	width:15vw;
	height: 4vw;
	text-align:center;

}
.under-meny-kontakt-kontakt3{
	position:relative;
	height:3vw;
	width: 15vw;
	background-color:#646464;
	transform: translateX(-50%);
	left: 8.8vw;
	top: 4.75vw;
	display: none;
	border-radius: 0.5vw;
	border: 0.11vw solid black;
	box-shadow: 0.10vw 0.0vw 0.075vw 0.1vw #727272;
}
.under-meny-kontakt-kontakt3 a{
	color:white;
	left:0vw;
	top: 0vw;
	font-size:1.3vw;
	width:15vw;
	height: 4vw;
	text-align:center;
	

}
.under-meny-kontakt-kontakt4{
	position:relative;
	height:3vw;
	width: 15vw;
	background-color:#646464;
	transform: translateX(-50%);
	left: 8.8vw;
	top: 4.9vw;
	display: none;
	border-radius: 0.5vw;
	border: 0.11vw solid black;
	box-shadow: 0.10vw 0.0vw 0.075vw 0.1vw #727272;
}
.under-meny-kontakt-kontakt4 a{
	color:white;
	left:0vw;
	top: 0.7vw;
	font-size:1.4vw;
	width:15vw;
	height: 4vw;
	text-align:center;

}





/*CONTAINER*/

.container-OSAB{
	margin:0;
	padding:0;
	position:absolute;
	top:5vw;
	left:34vw;
	transform: translateX(-50%);
	height: 140vw;
	width:80vw;
	background-color: #EDEDED;
	border: 0.15vw solid black;
	border-radius: 0.5vw;
	
}
.container-OSAB h1{
	margin:0;
	padding:0;
	font-family: Garamond ;
	font-size:3.5vw;
	font-weight:600;
	letter-spacing: 0px;
	position:absolute;
	top:3vw;
	left:6vw;
	transform: translate(-50%,-50%);
	width:12vw
	
}
.container-h1-OSAB{
	margin:0;
	padding:0;
	background-color:#DADADA;
	text-align: center;
	width:12vw;
	height:6.7vw;
	position:relative;
	left:6.4vw;
	border-radius: 0 0 0.7vw 0.7vw;
	border: 0.15vw solid black;
	border-top: none;
	box-shadow: 0.225vw 0.225vw 0.225vw 0.225vw #646464;
	
	
}
.img-top-OSAB img{
	margin:0;
	padding:0;
	position:absolute;
	left:40vw;
	top:25.125vw;
	transform: translate(-50%,-50%);
	height:26.8vw;
	width:48vw;
	border: 0.15vw solid black;
	border-radius:0.5vw;
}

.text1-OSAB{
	margin:0;
	padding:0;
	position:absolute;
	transform: translate(-50%,-50%);
	left:20vw;
	top:53.6vw;
	width:28vw;
	height:16.75vw;
	background-color:white;
	border: 0.15vw solid black;
	border-radius:0.5vw;
}
.text1-OSAB h1{
	font-family: Garamond;
	text-align: center;
	letter-spacing:px;
	font-size:1.8vw;
	font-weight:540;
	width:26.6vw;
	position:absolute;
	transform: translate(-50%,-50%);
	top:8.375vw;
	left:14vw;
}
.text1-OSAB h2{
	font-family: Arial;
	font-size:2vw;
	font-weight:550;
	width:26.6vw;
	position:absolute;
	transform: translate(-50%,-50%);
	text-align: center;
	top:-3.35vw;
	left:14vw;
}

.text2-OSAB{
	margin:0;
	padding:0;
	position:absolute;
	transform: translate(-50%,-50%);
	left:60vw;
	top:53.6vw;
	width:28vw;
	height:16.75vw;
	background-color:white;
	border: 0.15vw solid black;
	border-radius:0.5vw;
}
.text2-OSAB h1{
	font-family: Garamond;
	text-align: center;
	font-size:1.8vw;
	font-weight:540;
	width:26.6vw;
	position:absolute;
	transform: translate(-50%,-50%);
	top:8.375vw;
	left:14vw;
}
.text2-OSAB h2{
	font-family: Arial;
	font-size:2vw;
	font-weight:550;
	width:26.6vw;
	position:absolute;
	transform: translate(-50%,-50%);
	text-align: center;
	top:-3.35vw;
	left:14vw;
}

}
.cursivetext-OSAB{
	margin:0;
	padding:0;
	position:absolute;
	transform: translate(-50%,-50%);
	left:40vw;
	top:83.75vw;
	width:64vw;
	height:5.025vw;
	background-color:transparent;
}
.cursivetext-OSAB h1{
	font-family: Garamond;
	font-size:2vw;
	font-weight:550;
	width:64vw;
	position:absolute;
	transform: translate(-50%,-50%);
	top:67vw;
	left:40vw;
	text-align: center;
}
.line{
	margin:0;
	padding:0;
	width:80vw;
	height:60vw;
	background-color:transparent;
	position:absolute;
	transform:translate(-50%,-50%);
	left:40vw;
	top:44vw;
	opacity:1;
	border-bottom:0.15vw solid black;
}
.list-box-OSAB{
	margin:0;
	padding:0;
	position: absolute;
	left: 18vw;
	top: 98.825vw;
	transform: translate(-50%,-50%);
	width: 33vw;
	height: 30vw;
	background-color: white;
	border-radius:0.5vw;
	border: 0.15vw solid black;
}
.list-box-OSAB-h2 h2{
	font-family: Arial;
	font-size:1.9vw;
	font-weight:550;
	width:76vw;
	position:absolute;
	transform: translate(-50%,-50%);
	text-align: center;
	top:-5.2vw;
	left:17vw;
}
.list-box-OSAB ul{
	list-style:none;
	font-family: Garamond;
	font-size: 1.8vw;
	text-align: left;
	
}
.fa, .fas{
	margin-right:0.7vw;
	margin-bottom: 0.2vw;

	
}
.fa-arrow-right:before{
	margin-left:4vw;

	
}
.img-box{
	margin:0;
	padding:0;
	position: absolute;
	left: 58vw;
	top: 98.825vw;
	transform: translate(-50%,-50%);
	width: 39vw;
	height: 26vw;
	background-color: white;
	border-radius:0.5vw;
	border: 0.15vw solid black;
}
.img-box img{
	width:39vw;
	height:26vw;
}
.text1-OSAB-under{
	margin:0;
	padding:0;
	position:absolute;
	transform: translateX(-50%);
	left:40vw;
	top:118vw;
	width:64vw;
	height:6vw;
	background-color:white;
	border: 0.15vw solid black;
	border-radius: 0.5vw;
}
.text1-OSAB-under h1{
	font-family: Garamond;
	text-align: center;
	font-size:1.8vw;
	font-weight:540;
	left:32vw;
	width:64vw;
	
}
.text2-OSAB-under{
	margin:0;
	padding:0;
	position:absolute;
	transform: translateX(-50%);
	left:40vw;
	top:126vw;
	width:64vw;
	height:5.025vw;
	background-color:transparent;
}
.text2-OSAB-under h1{
	font-family: Garamond;
	font-size:2vw;
	font-weight:550;
	text-align:center;
	left:32vw;
	width:64vw;
	
}